/* Font styles */

.azeret-mono{
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Banner styles */


.banner-main{
    text-align: center;
    background-image: url('assets/Hero-bg.png');
}

.banner-title{
    font-size: 42px;
    color: #0D1321;
    font-family: "Azeret Mono", serif;
}
.banner-description{
    font-size: 14px;
    font-family: "Azeret Mono", serif;
    text-align: center;
    color: rgba(13, 19, 33, 1);

}
.btn{
    background-color: #0D1321;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-top: 25px;
}
/* web-development-styles */
.web-development{
    margin: 70px 150px;
    padding: 80px 100px;
    background-color: rgba(13, 19, 33, 0.02);
    
}
.web-development-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.web-development-description{
    text-align: center;
}

.development-reasons{
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 35PX 40px;
    margin-top: 85px;
    color: rgba(13, 19, 33, 0.7);
}
.reason-container{
    width: 500px;
    height: 100px;
}
.reason-img{
    margin-left: 150px;
}
.learn-btn{
    border: 1x solid rgba(13, 19, 33, 1) ;
    width: 170px;
    height: 50px;
    background-color: white;
    font-size: 22px;
    color: rgba(13, 19, 33, 0.7) ;
    margin-top: 25px;
    font-weight: bold;
}
/* Inspiration section styles */

.inspiration{
    margin: 50px 150px;
    padding: 80px 100px;
}

.inspiration-title{
    text-align: center;
}
.inspiration-description{
    text-align: center;
}
.embeded-video{
    text-align: center;
    padding: 30PX 20px;
    border: 1px solid #0D1321;
    background-color:white; 
    margin: 50px 250px;
}
